body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(171, 122, 249);
}

h1{
    text-align: center;
}

#shopping-cart {
    text-align: right;
}

#shopping-cart-div {
    display: none;
}